<?xml version="1.0" encoding="UTF-8"?>
<launch>


<arg name="imu_topic" default="/versavis/imu"/>
<arg name="vicon_topic" default="/prismav/vrpn_client/estimated_transform"/>
<arg name="config" default="viconpos_sensor_fix.yaml"/>

    <node name="msf_viconpos_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
		
		<remap from="/msf_core/imu_state_input" to="$(arg imu_topic)"  />
    <remap from="/msf_updates/transform_input" to="$(arg vicon_topic)" />
		<!--Change t<remap from="/msf_core/hl_state_input" to="/fcu/ekf_state_out" />
		<remap from="/msf_core/correction" to="/fcu/ekf_state_in" />his line-->
		<rosparam file="$(find msf_updates)/viconpos_sensor_fix.yaml"/>

    </node>

    <node pkg="rosservice" type="rosservice" name="initialize" args="call --wait /msf_viconpos_sensor/pose_sensor/initialize_msf_scale 1"/>
</launch>
